@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "DOHQA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1 class="text-error">Erro.</h1>
    <h2 class="text-error">Um erro ocorreu durante sua requisição, por favor tente novamente.</h2>
</hgroup>
