@{
    ViewBag.Title = "DOHQA";
}
<div class="container marketing">
    <br />
    <br />        
            <div class="row"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <b>DOHQA</b> é um projeto para automação residencial, com a utilização da ferramenta

                    Arduino®, sendo está de baixo custo e Open Source. Trabalhamos para atingir

                    altos padrões de segurança, conforto, tecnologia, e praticidade à todos os clientes,

                    de modo econômico e sustentável. Saiba mais sobre o que podemos proporcionar:
                </div>
                <div class="col-md-2"></div>
            </div>
    <br />
    <br />
    <br />
    <br />
            <div class="row">

                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                    <img class="img-circle img-150-150" src="~/img/seg.jpg">
                </div>
                <div class="col-md-6">

                    <h2>Segurança:</h2>
                    <p>
                        Sistema de câmeras, anti-vazamentos de GLP , bem como o controle instantâneo de toda a casa.</p>
        
                </div>

            </div>
    <br />
    <br />
            <div class="row">

                <div class="col-md-2">

                </div>

                <div class="col-md-6">

             
                    <h2> Conforto</h2>
                    <p>Tudo oferecido pela DOHQA, pode ser controlado por um "clique", desde

                    abrir um portão, ascender luzes , até, o controle de sensores para executação de

                    tarefas desejadas. 

                </div>
                <div class="col-md-2">
                    <img class="img-circle img-150-150" src="~/img/conf.jpg">
                </div>

            </div>
    <br />
    <br />
            <div class="row">

                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                    <img class="img-circle img-150-150" src="~/img/sust.jpg">
                </div>
                <div class="col-md-6">

                    <h2>Economia/Sustentabilidade:</h2>
                    <p> Com a utilização de sensores, a automação auxilia na economia de energia, o que é um fator ideal para o seu bolso e para as gerações futuras. Sem contar que a presença da DOHQA em pequenas cidades torna os custos de logística mais acessíveis.
                    </p>

                </div>

            </div>
    <br />
    <br />
            <div class="row">

                <div class="col-md-2">

                </div>

                <div class="col-md-6">


                    <h2>Praticidade:</h2>
                    <p>
                        O sistema DOHQA vem sendo desenvolvido em formato Web App,

                        portanto é de fácil e rápido acesso, podendo ser este realizado de qualquer uma

                        das diversas plataformas, desde que conectados à Internet, como por exemplos :

                        smartphones, tablets e PC’s .

                        Se você quer controlar sua casa, de maneira totalmente autonoma e personalizável,

                        esta no lugar certo. 
                    </p>

                </div>
                <div class="col-md-2">
                    <img class="img-circle img-150-150" src="~/img/prat.jpg">
                </div>

            </div>
</div>



   

